@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-synthesis: antialiased;
    text-rendering: optimizeLegibility;
}


/*Corpo da página*/

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: linear-gradient(155deg, #8b1263, #5f0849, #047499);
}


/*classe do painel de contato, dimensões e posicionamento do formulário*/

.container {
    max-width: 400px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


/*inputs da página*/

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    border-radius: 8px;
}


/*id do formulário inteiro*/

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
    border-radius: 8px;
}

#contact h3 {
    color: #F96;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}


/*área do texto*/

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 8px;
}


/*mouse sobre a área do texto*/

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
}


/**/

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}


/*cores e largura do botão de enviar informações*/

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #333;
    color: rgba(120, 0, 50, .5);
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}


/*configurações de transição quando o mouse passa por cima do botão*/

#contact button[type="submit"]:hover {
    background: rgb(15, 15, 15);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    animation: text-flicker 2s linear forwards;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

@keyframes text-flicker {
    2% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    3% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    6% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    9% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    11% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    14% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    18% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    32% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    33% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    37% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    39% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    43% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    46% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    47% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    100% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
}