body {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://i.imgur.com/2TgSSVk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}

.hero-button {
    background-color: black;
    color: rgb(255, 206, 231);
    border: 2px solid rgb(0, 40, 70);
    padding: 14px 40px;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 200;
    cursor: pointer;
    border-radius: 32px;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    /*position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 50px;*/
}

.hero-button:hover {
    background-color: #028dff;
    border: 2px solid #028dff;
    box-shadow: 0 0 5px #028dff, 0 0 25px #028dff, 0 0 50px #028dff, 0 0 200px #028dff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    /*background: #03e9f4;
    color: #050801;
    );*/
}

.hero-button:nth-child(1) {
    filter: hue-rotate(270deg);
}

.hero-button:nth-child(2) {
    filter: hue-rotate(110deg);
}

.hero-button span {
    position: absolute;
    display: block;
}

.hero-button span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #028dff);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.hero-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #028dff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.hero-button span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #028dff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.hero-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #028dff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}