/*animation: letter-flicker 10s linear infinite;
animation: border-flicker 15s linear forwards;*/

/* Navbar container de forma geral */

.navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: bold;
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    display: relative;
}

/* Links inside the navbar -> Home, estilização da caixa de Home */

.navbar a {
    float: left;
    font-size: 16px;
    color: rgb(230, 0, 120);
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 0 15px -1px rgb(0, 0, 0), 0 0 12px -1px rgb(0, 0, 0) inset;
    cursor: pointer;
    height: 53px;
    margin-top: 22px;
}

/* Add a purple background color to navbar links on hover */

.navbar a:hover {
    height: 53px;
    background: rgb(0, 0, 0);
    border-radius: 2px;
}

/* Transições de cores do efeito Neon nos botões*/

/*transições de texto*/

@keyframes text-flicker {
    2% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    3% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    6% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    9% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    11% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    14% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    18% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    32% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    33% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    37% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    39% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    43% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    46% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    47% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    100% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
}

/*transições de letras*/

@keyframes letter-flicker {
    2% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    3% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    6% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    9% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    11% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    14% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    18% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    32% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    33% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    37% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    39% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
    }
    40% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    100% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
    }
}

/*transições de borda*/

@keyframes border-flicker {
    2% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230), 0 0 12px -1px rgb(0, 180, 230) inset;
    }
    3% {
        border: 3px solid rgb(0, 40, 70);
        box-shadow: none;
    }
    5% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230), 0 0 12px -1px rgb(0, 180, 230) inset;
    }
    6% {
        border: 3px solid rgb(0, 40, 70);
        box-shadow: none;
    }
    7% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230), 0 0 12px -1px rgb(0, 180, 230) inset;
    }
    9% {
        border: 3px solid rgb(0, 40, 70);
        box-shadow: none;
    }
    13% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230), 0 0 12px -1px rgb(0, 180, 230) inset;
    }
    16% {
        border: 3px solid rgb(0, 40, 70);
        box-shadow: none;
    }
    18% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230), 0 0 12px -1px rgb(0, 180, 230) inset;
    }
    22% {
        border: 3px solid rgb(0, 40, 70);
        box-shadow: none;
    }
    34% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230), 0 0 12px -1px rgb(0, 180, 230) inset;
    }
    36% {
        border: 3px solid rgb(0, 40, 70);
        box-shadow: none;
    }
    54% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230), 0 0 12px -1px rgb(0, 180, 230) inset;
    }
    100% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230), 0 0 12px -1px rgb(0, 180, 230) inset;
    }
}

/* configurações gerais do lado direito da tela - login e cadastro */

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    float: right;
    background: rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* janela de login - em baixo do botão de submit*/

nav li {
    float: left;
    font-size: 16px;
    color: rgb(51, 51, 51);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 8 8px 8px 8;
}

/* cores do botão de login sem HOVER */

nav #login {
    border-right: 1px solid rgb(51, 51, 51);
    box-shadow: 1px 0 0 rgb(51, 51, 51);
}

/*mostra como vai aparecer a organização por DENTRO, na janela de login e cadastre-se*/

nav #login-trigger, nav #signup a {
    display: inline-flex;
    *display: inline;
    *zoom: 1;
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 0 rgb(51, 51, 51);
    border-radius: 8px, 8, 8, 8px;
    border: solid rgb(0, 40, 70);
    box-shadow: 0 0 15px -1px rgb(0, 40, 70), 0 0 12px -1px rgb(0, 40, 70) inset;
}

/* botão de cadastro - estilização */

nav #signup a {
    border-radius: 8 8px 8px 8;
    color: rgba(120, 0, 50, .5);
    border: 3px solid rgb(0, 40, 70);
    box-shadow: 0 0 15px -1px rgb(0, 40, 70), 0 0 12px -1px rgb(0, 40, 70) inset;
}

/* botão de login - estilização */

nav #login-trigger {
    border-radius: 8px 8 8 8px;
    color: rgba(120, 0, 50, .5);
    animation: letter-flicker 3s linear infinite;
    border: solid rgb(0, 40, 70);
}

/*animação da borda*/

nav #signup:hover a, li #login-trigger:hover a, div .home a:hover {
    animation: text-flicker 2s linear forwards;
}

/*animação principal do texto da navbar*/

nav #signup:hover a, nav #login-trigger:hover, div a .home:hover {
    animation: border-flicker 2s linear forwards;
}

/*animação das letras que piscam depois que termina a animação principal*/

div:hover .first {
    animation: letter-flicker 3s linear infinite;
}

/* configurações do CONTEUDO das alinhamentos da caixa de login */

nav #login-content {
    display: none;
    position: relative;
    top: 24px;
    right: 0;
    z-index: 999;
    background: #F9F9F9;
    background-image: linear-gradient(to top, rgb(255, 255, 255));
    padding: 15px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .9);
    border: 1px solid rgb(0, 40, 70);
    box-shadow: 0 0 15px -1px rgb(0, 40, 70), 0 0 12px -1px rgb(0, 40, 70) inset;
}

/* configurações da lista de login - todos os itens */

nav li #login-content {
    right: 0;
    width: 250px;
}

/* espaços em branco pra inserir as informações - estilos */

#inputs input {
    background: #f1f1f1;
    padding: 6px 5px;
    margin: 0 0 5px 0;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 1px 1px #ccc inset;
}

/* foco das inputs pra inserir as informações, quando estão com o cursor em cima */

#inputs input:focus {
    background-color: rgb(255, 255, 255);
    border-color: #028dff;
    outline: none;
    box-shadow: 0 0 0 1px #a491e8 inset;
}

/* linha da checkbox do na tela de login rapido */

#login #actions {
    margin: 10px 0 0 0;
    font-family: sans-serif;
}

/* configurações visuais do botão de submit information na tela de login*/

#login #submit {
    background-color: #ffffff;
    background-image: linear-gradient(to top, #2b2b2b, #000000);
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.938) inset;
    border: 1px solid rgb(0, 180, 230);
    float: left;
    height: 30px;
    padding: 0;
    width: 100px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
}

/* configurações visuais do botão submit */

#login #submit:hover, #login #submit:focus {
    background-color: #028dff;
    background-image: linear-gradient(to top, #3f3f3f, #303030);
    font-family: sans-serif;
    font-weight: bold;
}

/*  */

#login #submit:active {
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    font-family: sans-serif;
    font-weight: bold;
}

/* altura da tela de login */

#login label {
    float: right;
    line-height: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

/* posição da checkbox */

#login label input {
    position: relative;
    top: 2px;
    right: 2px;
}

/* códigos de estilização da search bar */

input[type=text] {
    width: 130px;
    height: 30px;
    font-family: sans-serif;
    font-weight: bold;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: absolute;
    margin-left: 50px;
    margin-top: 20px;
    background-color: rgb(148, 148, 148);
    border-radius: 15px;
    border-color: #028dff;
    display: inline-block;
    box-shadow: 0 0 15px -1px rgb(0, 40, 70), 0 0 12px -1px rgb(0, 40, 70) inset;
}

/* When the input field gets focus, change its width to 65% */

input[type=text]:focus {
    width: 50%;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
}

input[type=text]:hover {
    animation: border-flicker 2s linear forwards;
}